* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow:hidden;
}

.sideBar {
    display : flex;
    width   : 30%;
    position: fixed;
    top     : 0;
    bottom  : 0;
    z-index : 999;
}

.sideBar .black {
    color           : #fff;
    background-color: #000;
    width           : 60%;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;

}

.sideBar .black ul {
    padding: 30px;

}

.sideBar .black ul li {
    padding-top: 20px;
    cursor     : pointer;
}



.sideBar .black .icons {
    padding: 30px;


}

.sideBar .black .icons i {
    padding-left : 10px;
    margin-bottom: 10px;
    color        : rgba(255, 255, 255, 0.219);
    cursor       : pointer;
}

.sideBar .white {
    width           : 15%;
    background-color: #eee;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    text-align      : center;
}

.sideBar .white .icon3 {
    font-size: 30px;
    cursor   : pointer;

}

.sideBar .white .icons2 {
    margin-bottom: 20px;
}

.sideBar .white .image {
    padding-top: 20px;
}

.sideBar .white .image img {
    width: 50px;
}

.form-control {
    background-color: transparent;
}

.form-control:focus {
    background-color: transparent;
    color           : #fff;
}

.item {
    position: relative;
}

.item .layer {
    position        : absolute;
    background-color: rgba(204, 204, 204, 0.6);
    top             : 100%;
    bottom          : 0;
    left            : 0;
    right           : 0;
    display         : flex;
    align-items     : center;
    overflow        : hidden;
    cursor          : pointer;
    transition      : top 1s;

}

.item .layer h3 {

    margin-left: 5px;

}

.item:hover .layer {
    top     : 0;
    cursor  : pointer;
    overflow: visible;
}

.area-item {
    background-color: rgba(17, 17, 17, 0.527);
    padding         : 10px;
    cursor          : pointer;
}

.category-item {
    background-color: rgba(17, 17, 17, 0.527);
    padding         : 10px;
    cursor          : pointer;
    border-radius   : 10px;
    position        : relative;
}

.category-item .layer2 {
    position        : absolute;
    background-color: rgba(204, 204, 204, 0.6);
    top             : 100%;
    bottom          : 0;
    left            : 0;
    right           : 0;
    display         : flex;
    flex-direction  : column;
    overflow        : hidden;
    cursor          : pointer;
    transition      : top 1s;
}

.category-item:hover .layer2 {
    top     : 0;
    cursor  : pointer;
    overflow: visible;
}

.gradientsItem {
    color           : #fff;
    background-color: rgba(17, 17, 17, 0.527);
    padding         : 10px;
    border-radius   : 10px;
    cursor          : pointer;
    height          : 200px;
}

.gradientsItem i {
    color: #9ee650ab;
}

.searchItem {
    position: relative;
}

.searchItem .layer {
    position        : absolute;
    background-color: rgba(204, 204, 204, 0.6);
    top             : 100%;
    bottom          : 0;
    left            : 0;
    right           : 0;
    display         : flex;
    align-items     : center;
    overflow        : hidden;
    cursor          : pointer;
    transition      : top 1s;
}

.searchItem:hover .layer {
    top     : 0;
    cursor  : pointer;
    overflow: visible;
}


.loading {
    position        : fixed;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    z-index         : 90000;
    background-color: #000;
    display:flex;
    justify-content: center;
    align-items:center;
}
.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color:#de3500 #0000 #fff #0000;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
 }
 .loader:before , .loader:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#fff;
    transform: translate(-10px, 19px) rotate(-35deg);
  }
 .loader:after {
    border-color: #de3500 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
  }
   @keyframes rotate {
    100%{    transform: rotate(360deg)}
  }

  .filterAreaItem{
    position: relative;

  }
  .filterAreaItem .layer{
    position        : absolute;
    background-color: rgba(204, 204, 204, 0.6);
    top             : 100%;
    bottom          : 0;
    left            : 0;
    right           : 0;
    display         : flex;
    align-items     : center;
    overflow        : hidden;
    cursor          : pointer;
    transition      : top 1s;
  }
  .filterAreaItem:hover .layer{
    top     : 0;
    cursor  : pointer;
    overflow: visible;
  }